---
import type { AboutMe } from "../components/interface";
const AboutMeData: AboutMe = await (
  await fetch("https://nawasan.dev/api/info")
).json();

import { Image } from "astro:assets";
import AboutMeLayout from "../layouts/AboutMeLayout.astro";
---

<AboutMeLayout title="About | Arikato111">
  <main
    class="mb-10 box bg-gray-50 dark:bg-zinc-950 dark:text-slate-200 rounded-lg pt-3 pb-10"
  >
    <div class="my-10 text-center">
      <h3 class="font-bold text-3xl sm:text-4xl md:text-5xl">About me</h3>
      <h4 class="texl-lg sm:text-xl md:text-2xl">
        Let&apos;s get to know me better
      </h4>
    </div>
    <div class="text-center">
      <Image
        class="shadow inline-block rounded-lg"
        src={"https://avatars.githubusercontent.com/u/96001130?v=4"}
        alt="profile"
        width={300}
        height={300}
      />
    </div>
    <div class="text-center my-3">
      <div class="font-bold text-lg my-4">
        ชื่อ {AboutMeData.thai_name}
      </div>
      <div class="whitespace-normal px-3">
        {AboutMeData.detail}
      </div>
    </div>
  </main>
  }
</AboutMeLayout>
