---
import Layout from "../layouts/Layout.astro";
import Github from "../components/icons/Github.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Mail from "../components/icons/Mail.astro";
import Youtube from "../components/icons/Youtube.astro";
import Npm from "../components/icons/Npm.astro";
---

<Layout title="Contact | Arikato111">
  <div class="frame flex flex-col justify-center items-center min-h-[60vh]">
    <div class="my-10 text-center">
      <h3 class="font-bold text-2xl sm:text-2xl md:text-5xl">My Contacts</h3>
      <h4 class="text-lg sm:text-xl md:text-2xl">
        social media, source code and others
      </h4>
    </div>
    <div class="flex justify-center items-center">
      <a class="menu-link" href="https://github.com/Arikato111" target="_blank">
        <Github />
      </a>
      <a
        class="menu-link"
        href="https://www.linkedin.com/in/nawasan/"
        target="_blank"
      >
        <Linkedin />
      </a>
      <a class="menu-link" href="mailto:contact@nawasan.dev" target="_blank">
        <Mail />
      </a>

      <a
        class="menu-link"
        href="https://youtube.com/@Arikato111"
        target="_blank"
      >
        <Youtube />
      </a>
      <a
        class="menu-link"
        href="https://www.npmjs.com/~arikato111"
        target="_blank"
      >
        <Npm />
      </a>
    </div>
  </div>
</Layout>
