<div class="h-[200px] flex justify-cjnter items-center dark:text-white">
  <div class="box my-5 text-2xl lg:text-4xl text-center font-bold">
    <div class="md:flex justify-center">
      <div
        class="p-3 md:border-r-4 border-b-4 md:border-b-0 border-black dark:border-white"
      >
        Learning
      </div>
      <div
        class="p-3 md:border-r-4 border-b-4 md:border-b-0 border-black dark:border-white"
      >
        Creating
      </div>
      <div class="p-3">Development</div>
    </div>
  </div>
</div>
