---
import Layout from "./Layout.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <div
    class="dark:border shadow-[0_3px_30px_rgb(0,0,0,0.12)] p-3 bg-white dark:bg-zinc-950 dark:text-slate-200 dark-line rounded-lg m-3 box mx-auto"
  >
    <ul class="flex justify-around md:justify-normal">
      <li class="mx-3"><a href={"/about"}>Main</a></li>
      <li class="mx-3"><a href={"/about/questions"}>Questions</a></li>
      <li class="mx-3"><a href={"/about/music"}>Music</a></li>
    </ul>
  </div>
  <slot />
</Layout>
